@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Outfit:wght@400;700&display=swap');
    body{
      font-family: Outfit;
      background-color: hsl(212, 45%, 89%);
      padding: 50px;
    }
    h3{
      color: hsl(218, 44%, 22%);
      font-weight: 700;
        font-size: 20px;
        padding: 0px 36px;
    }
    p{
      color:  hsl(220, 15%, 55%);
      padding: 0px 36px;
    }
    .imageii{
      width: 90%;
      border-radius: 15px;
    }
    .main{
    font-size: 15px;
    font-weight: 400;
      box-shadow: 5px;
      margin: auto;
      height: 500px;
      padding: 10px ;
      padding-top: 22px;
      width: 335px;
      background-color: white;
      text-align: center;
      border-image: round;
      border-radius: 30px 30px;
      
      
    }
    .attribution { font-size: 11px; text-align: center;  margin: 50px;}
    .attribution a { color: hsl(228, 45%, 44%); }
